*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

                                /*header part */
.first{
    margin-bottom: 30px;
}

.header{
    height: 320px;
    width: 1113px;
    margin: auto;
    background-color: bisque;
}
.haderpart{
    display: flex;
}
.contentpart{
    margin: 80px 50px 60px 80px;
    width: 400px;
}
.heading{
    font-weight: bold;
    font-size: 35px;
}
.content{
    margin-top: 15px;
    font-size: 18px;
    color: rgba(175, 146, 146, 0.945);
}
.btn{
    margin-top: 15px;
    background-color: rgba(216, 42, 42, 0.889);
    color: white;
    padding: 3px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
}
.imgpart img{
    height: 320px;
    width: 600px;
    margin-top: 0px;
    border: none;
    border-radius: 3px;
}



                               /* main part */

.featured{
    width: 1000px;
    height: 100%;
    margin: auto;
    padding-top: 75px;
    display: flex;
}
.featuretitle{
    margin-left: 380px;
    font-size: 25px;
    font-weight: bold;
}
.featuredcontent p{
    margin-top: 10px;
    width: 320px;
    margin-left: 350px;
    font-size: 16px;
    color:  rgba(175, 146, 146, 0.945);
}
.featuredcontent span{
    margin-left: 55px;
}
.allimage{
    margin-top: 120px;
    margin-left: -530px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.featuredimg img{
    height: 300px;
    width: 230px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
}
.image1title{
    text-align: center;
}
 
                                    /* icon part */

.mainicon{
    display: flex;
    justify-content: space-around;
    border: none;
    margin: 40px;
    height: 100px;
    width: 720px;
    margin-left: 196px;
    background-color: bisque;
}
.firsticon{
    padding-top: 15px;
}
.firsticon i{
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 5px;
    color: crimson;
}
.firsticon p{
    color: darkslategrey;
    font-size: 17px;
}

.secondicon{
    padding-top: 15px;
}
.secondicon i{
    font-size: 30px;
    margin-left: 70px;
    margin-bottom: 5px;
    color: crimson;
}
.secondicon p{
    color: darkslategrey;
    font-size: 17px;
}

.thirdicon{
    padding-top: 15px;
    
}
.thirdicon i{
    font-size: 30px;
    margin-left: 90px;
    margin-bottom: 5px;
    color: crimson;
}
.thirdicon p{
    color: darkslategrey;
    font-size: 17px;
}

                              /* discount part */
.discount{
    display: flex;
    justify-content: space-between;
    width: 1113px;
    height: 250px;
    margin-bottom: 30px;
    background-color: bisque;
}
.discountcontent{
    margin-left: 195px;
    margin-top: 70px;
}
.discountcontent .spann{
    margin-left: 100px;
}
.discountcontent h2{
    font-weight: bold;
    font-size: 25px;
}
.discountcontent h2 span{
    color: red;
}
.discountcontent p{
    width: 400px;
    font-size: 15px;
    color: darkslategrey;
    margin-top: 10px;
}
.discountbtn{
    height: 30px;
    width: 80px;
    margin: 10px 0px 0px 105px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 2px;
}
.discountimage img{
    width: 400px;
    height: 250px;
    border-radius: 2px;
}

                                    /* instagram part */
.instagram{
    width: 900px;
    margin-left: 195px;
}          
.instacontent h1{
    margin-left: 330px;
    margin-bottom: 10px;
}        
.instacontent p{
    font-size: 15px;
    margin-left: 160px;
    width: 500px;
    color: darkslategrey;
}
.instacontent span{
    margin-left: 170px;

}
.instapic{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 27px;
}
.instapic img{
    height: 200px;
    width: 177px;
    border-radius: 4px;
}

                              /* responsive part here */



@media screen and (max-width: 576px){
    .first{
        margin-left: 30px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    body{
        background-color: blue;
    }
.header{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        width: 530px;
        height: 260px;
    }

    .haderpart{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } 

    .contentpart{
        margin: 40px 30px 30px 40px;
        width: 390px;
        height: 230px;
    }
     
    .imgpart img{       
        width: 530px;
        height: 250px; 
    }

                                  /* featured part */

    .featured{
        width: 530px;
        height: 260px;  
    }
     .featuredcontent{
        margin-top: 240px;
       margin-left: -220px;
    } 
    .featuredcontent h3{
        margin-left: 382px;
    }
    .allimage{
        margin-top: 340px;
        margin-left: -290px;
        display: flex;
        flex-direction: column; 
    }
    .image1 h4{
         margin-left: -60px;
     }


                              /* icon part */

.mainicon{
      display: flex;
      flex-direction: column;
      height: 260px;
      width: 540px;
      margin-top: 1100px;
      margin-left: 8px;
      text-align: center;
}
.firsticon i{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: crimson;
}
.secondicon i{
    font-size: 30px;
    margin-left: 6px;
    margin-bottom: 5px;
    color: crimson;
}
.thirdicon i{
    font-size: 30px;
    margin-left: 8px;
    margin-bottom: 5px;
    color: crimson;
}
.thirdicon p{
    margin-bottom: 20px;
}            

                          /* discount part */

.discount{
    display: flex;
    flex-direction: column;
    gap: 90px;
    width: 545px;
    margin-left: 5px;
   
}   
.discountcontent h2{
    margin: 0px 0px 15px -110px;
}
.discountcontent p{
    margin-left: -110px;
    font-size: 17px;
}
.discountbtn{
    margin: 15px 0px 0px -30px;
}
.discountimage img{
    width: 545px;
    margin-top: -10px;
}


                     /* instagram part */

 .instagram{
    width: 576px;
    margin-top: 300px;
    margin-left: -20px;
}   
.instacontent{
    margin-left: -90px;
}   
 .instapic {
    width: 576px;
    display: flex;
    flex-direction: column;
}
.instapic img{
    width: 544px;
    margin-left: 26px;
} 

}
